<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
		<!--   La configuración de la aplicación de usuario y de la propiedad configurada van aquí.-->
		<!--   Ejemplo: <add key="settingName" value="settingValue"/> -->
		<add key="frmGUI.KeyPreview" value="False" />
	</appSettings>
</configuration>